@using FilmWebsite.Database
@model List<Film>

<div class="movie-tile">

</div>
<div class="text-center">
    <h1>Actiefilms</h1>
    <h3>U heeft geklikt op de genre Actiefilms. Op deze pagina krijg je alle films te zien waarvan de genre Actie is!</h3>

    <div class="allMovies">
        @foreach (Film film in Model)
        {
            <div class="movie" style="background-image:url(@film.poster)">
                <h2>@film.Naam</h2>
            </div>
        }
    </div>
</div>