@using FilmWebsite.Database
@model List<Film>

<div class="movie-tile">

</div>
<div class="text-center">
    <h1>Comedy</h1>
    <h3>U heeft geklikt op de genre Comedy. Op deze pagina krijg je alle films te zien waarvan de genre Comedy is!</h3>

    <div class="allMovies">
        @foreach (Film film in Model)
        {
            <div class="movie" style="background-image:url(@film.poster)">
                <h2><a href="/film/@film.Id">@film.Naam</a></h2>
            </div>
        }
    </div>
</div>