<!DOCTYPE html>
<link rel="stylesheet" href="~/css/site.css" />
<header>
<p>
    hoi
</p>
</header>
<body>
    <div>
        <nav> navigatie </nav>
        <article>
            <h1 style="font-family:verdana">Welkom!</h1>
            <p style="font-family:verdana">
                blabla
            </p>
        </article>
    </div>
</body>

<footer>footer</footer>
