@using FilmWebsite.Database
@model List<Film>

@{
    Layout = "_Layout";
}

<div class="movie-tile">
     
</div>
<div class="text-center">
    <h1>Welkom</h1>
    <div class="allMovies">
    @foreach(Film film in Model)
    {
        <div class="movie" style="background-image:url(@film.poster)" >
            <h2>@film.Naam</h2>            
        </div>
    }
    </div>
</div>