@using FilmWebsite.Database
@model List<Film>

@{
    Layout = "_Layout";
}

<div class="movie-tile">
     
</div>
<div class="text-center">
    <h1>Welkom bij WatchNow!</h1>
    <h3>Op deze Homepagina krijgt u een overzicht van alle films die wij op dit moment aanbieden.</h3>
    <div class="allMovies">
    @foreach(Film film in Model)
    {
        <div class="movie" style="background-image:url(@film.poster)" >
            <div class="filmtitel">
                <h2>@film.Naam</h2>
            </div>
        </div>
    }
    </div>
</div>