* {
    margin: 0px;
    padding: 0px;
    background-color: #545454;
}

.wrapper {
    margin: 0 auto 0 auto;
    width: 85%;
    display: flex;
    background-color: #545454;
    font color: ACE2B1;
}

.content {
    background-color: #545454;
    color: white;
}

.content, aside {
   

}

header, footer {
    background-color: #545454;
    height: 100px;
 
}

.aside {
    background-color: yellow;    
}

footer {
    text-align: center;
    color: #fff;
}
