html{
    background-color:#545454;
}

* {
    margin: 0px;
    padding: 0px;    
    font-family: Arial;
}

.wrapper {
    margin: 0 auto 0 auto;
    width: 85%;
    display: flex;
    background-color: #545454;
    font color: ACE2B1;
}

.content {
    background-color: #545454;
    color: white;
}

.content, aside {
   

}

header, footer {
    background-color: #545454;
    height: 100px;
 
}

.aside {
    background-color: yellow;    
}

footer {
    text-align: center;
    color: #fff;
}

.allMovies {
    display: flex;
    flex-wrap: wrap;
}

.movie {
    background-size: cover;
    padding: 210px 20px 250px 20px;
    margin: 10px;
    width: 25%;
}


    .movie h2 {
        background-color: rgba(192,192,192,0.3);
        font-family: Arial;
        text-align: center;
    }

.text-center h1 {
        font-family: Arial;
}

.text-center h3 {
    font-family: Arial;
    font-size: 18px;
}

.topnav {
    background-color: dimgray;
    overflow: hidden;
    top: 0;
    margin-top: 0px;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 30px 30px;
    text-decoration: none;
    font-size: 23px;
    font-family: Arial;  
}

 .topnav a:hover {
    background-color: grey;
    color: white;
 }


 .topnav a.active {
    background-color: #545454;
    color: white;
 }

 .search-container {
     float: right;
 }

.topnav input[type=text] {
    padding: 6px;
    margin-top: 28px;
    font-size: 17px;
    border: none;
}

.topnav .search-container button {
    float: right;
    padding: 16px 15px;
    margin-top: 28px;
    margin-right: 16px;
    background: #ddd;
    font-size: 17px;
    border: none;
    cursor: pointer;
}
.topnav .search-container button {
    background-image: url( 'https://upload.wikimedia.org/wikipedia/commons/thumb/0/0b/Search_Icon.svg/768px-Search_Icon.svg.png');
    background-size: cover;
}

.contactform label {
    width: 100px;
    height: 50px;
    padding: 15px;
    font-family: Arial;
    font-size: 23px;
}

.contactform .field-validation-error {
    color: red;
    margin-left: 10px;
}