@{
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Title</title>
    <link rel="stylesheet" href="@Href("~/css/site.css")" />
</head>
<body>

    <header>
        <h1>Header</h1>
    </header>

    <div class="wrapper">
        <nav>
          <a href="">Romantiek</a>
          <a href="">Romantiek</a>
          <a href="">Romantiek</a>
          <a href="">Romantiek</a>
          <a href="">Romantiek</a>
          <a href="">Romantiek</a>
        </nav>

        <div class="content">
            @RenderBody()
        </div>
    </div>

    <footer>
        &copy; @DateTime.Now.Year
    </footer>

</body>
</html>