@{
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Title</title>
    <link rel="stylesheet" href="@Href("~/css/site.css")" />
</head>
<body>

    <div class="wrapper">
        <header>
            <h1>Header</h1>
        </header>

        <aside>
            <h2>SideBar</h2>
        </aside>

        <div class="content">
            @RenderBody()
        </div>

        <footer>
            &copy; @DateTime.Now.Year
        </footer>

    </div>

</body>
</html>