@{
}

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>WatchNow.com</title>
    <link rel="stylesheet" href="@Href("~/css/site.css")" />
     <link rel="icon" type="image/x-icon" href="/favicon.jpg">
</head>
<body>

    <header>
        <div class="topnav">
            <a href="/home">Home</a>
            <a href="/actie">Actie</a>
            <a href="/romantiek">Romantiek</a>
            <a href="/comedy">Comedy</a>
            <a href="/Kinderfilms">Kinderfilms</a>
            <a href="/contact">Contact</a>
            <a href="/login">Log in</a>
        </div>
    </header>

    <div class="wrapper">

        <div class="content">
            @RenderBody()
        </div>
    </div>

    <footer>
        &copy; @DateTime.Now.Year
    </footer>

</body>
</html>